# M110A Modem License File
# 
# To activate this software, go to https://www.organicengineer.com/projects to obtain a license key.
# 
# Steps to activate:
# 1. Run: license_gen.exe --hwid
# 2. Visit https://www.organicengineer.com/projects and submit the hardware ID
# 3. Replace this file with the license.key file you receive
#
# Format: CUSTOMER-HWID-EXPIRY-CHECKSUM
# Example: ACME01-A3B4C5D6-20261231-9F8E7D6C
#
# For support: alex.pennington@organicengineer.com
